body{
    margin:0;
    font-family: 'Segoe UI',sans-serif;
    background: linear-gradient(-45deg, #a18cd1, #fbc2eb, #ec876c, #ffe3d1);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}
@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
.login-container{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
  
}
.login-container h1{
    font-size: 24px;
    color: #d84f2c;
 
}
.login-container span{
 font-weight: bold;   
}
.login-container p{
    font-size: 14px;
    color: #333;

}
form input{
    width:100% ;
    padding: 10px;
    margin: 12px 0 ;
    border: 1px solid #ddd;
    border-radius: 8px;

}
button{
    background-color: #ff704d;
    color: white;
    text-decoration: none;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width:100%;
    font-size: 16px;
    cursor: pointer;

}
button:hover{
    background-color: #ce4320;
}
.signup-link{
    margin-top: 10px;
    font-size: 13px;
}
.signup-link a{
   color: #ff704d;
   text-decoration: none;
}
.signup-link a:hover{
    text-decoration: underline;
}
@media(max-width:480px){
   .login-container {
  width: 80%;
  padding: 30px 20px;

    }
    form input{
        width: 80%;
    }
    .login-container h1{
        font-size: 20px;
    }
    button{
        width: 80%;
    }
    form input button{
       
        font-size: 14px;
        padding: 10px;

    }
    .signup-link{
        font-size: 12px;
    }
}
